In [34]:
import pandas as pd
df = pd.read_excel('../data/score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고  197   90    5  100  95  85      python
2번    강태원  구로고  184   40   35   50  55  25        Java
3번    강호림  구로고  168   80   75   70  80  75  Javascript
4번    김수찬  구로고  187   40   60   70  75  80         NaN
5번    김재욱  구로고  188   15   20   10  35  10         NaN
6번    박동현  구로고  202   80  100   95  85  80           C
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
8번    승근열  단지고  190  100   85   90  95  95          C#

In [51]:
import random

In [52]:
# 0~5까지의 숫자를 랜덤으로 입력
for i in range(8):
    df.iloc[i,9]=random.randint(0,6)

In [53]:
# 0- 일요일 1,2,3,4,5,6,-토요일
# 요일 컬럼에 숫자를 요일오 변경해서 출력하시요
def day(num):
    if num ==0 : return "일요일"
    elif num ==1 : return "월요일"
    elif num ==2 : return "화요일"
    elif num ==3 : return "수요일"
    elif num ==4 : return "목요일"
    elif num ==5 : return "금요일"
    elif num ==6 : return "토요일"

In [55]:
df['요일']=df['요일'].apply(num)

KeyError: '요일'

In [49]:
df

       이름   학교      키     국어     영어     수학    과학    사회        SW특기    9
지원번호
1번    강나래  구로고  197.0   90.0    5.0  100.0  95.0  85.0      python  5.0
2번    강태원  구로고  184.0   40.0   35.0   50.0  55.0  25.0        Java  1.0
3번    강호림  구로고  168.0   80.0   75.0   70.0  80.0  75.0  Javascript  5.0
4번    김수찬  구로고  187.0   40.0   60.0   70.0  75.0  80.0         NaN  6.0
5번    김재욱  구로고  188.0   15.0   20.0   10.0  35.0  10.0         NaN  3.0
6번    박동현  구로고  202.0   80.0  100.0   95.0  85.0  80.0           C  1.0
7번    박혜정  단지고  188.0   55.0   65.0   45.0  40.0  35.0      PYTHON  5.0
8번    승근열  단지고  190.0  100.0   85.0   90.0  95.0  95.0          C#  3.0
0     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  2.0
1     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  2.0
2     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  2.0
3     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  3.0
4     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  2.0
5     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  1.0
6     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  4.0
7     NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN  6.0